<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sujit's Website</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="shortcut icon" href="./assets/logo.png" type="image/x-icon" />
  </head>
  <body>
    <div id="page1">
      <!-- Nav Bar -->
      <nav class="NavBar">
        <div class="Logo">
          <img src="./assets/logo.png" alt="" height="50rem" width="70rem" />
        </div>
        <div class="SecondNav">
          <ul id="MenuLists">
            <li>
              <a href="#" class="lists"><h3>Home</h3></a>
            </li>
            <li>
              <a href="#" class="lists"><h3>About Me</h3></a>
            </li>
            <li>
              <a href="#" class="lists"><h3>Contract</h3></a>
            </li>
            <li>
              <a href="#" class="lists"><h3>Services</h3></a>
            </li>
          </ul>
          <span>
            <img src="./assets/icons8-menu-50.png" alt="" class="Menu" />
          </span>
        </div>
      </nav>
      <!-- Nav Bar End -->

      <!-- Hero start -->
      <div class="hero">
        <div class="HeroText">
          <h1 class="Ht1">Hi There</h1>
          <h2 class="Ht1 animated-text">
            I'm <span class="MyName">Sujit</span>
          </h2>
          <br />
          <br />
          <button class="HeroButton">
            <a href="#Sec2" class="ButtonLink">More About Me</a>
          </button>
          <p></p>
        </div>
        <div class="HeroImage">
          <img
            src="./assets/vecteezy_3d-illustration-of-man-waving-hand-and-left-hand-on-waist_10871018_988.png"
            height="500px"
            width=""
          />
        </div>
      </div>
    </div>
    <!-- Hero Section  End-->
    <!-- Service start -->
    <div class="mainServicecontainer">
      <div class="mainService">
        <h2 class="serviceHeading">
          Achieve your business goals
          <span class="strongLine"> with web development solutions</span>
        </h2>
        <p class="servicePara">
          Our battle-tested developers specialize in a wide range of web
          development <br />
          Here are some of the solutions that we can deliver for you.
        </p>
      </div>
      <div class="ServicesContainer">
        <div class="ServicesItems">
          <div class="ServicesImage">
            <img src="./assets/FrontEndLogo.png" alt="" />
            <h3 class="ServicesHeading">Frontend Development</h3>
            <p>
              We use the most popular frontend frameworks like React.js, Vue.js,
              and Angular that enable us to create the surface layer of your
              product.
            </p>
          </div>
        </div>
        <div class="ServicesItems">
          <div class="ServicesImage">
            <img src="./assets/BackEndLogo.png" alt="" />
            <h3 class="ServicesHeading">Backend Development</h3>
            <p>
              We use server-side technologies like Python, Ruby on Rails, and
              Node.js for prototyping and development, producing fast and
              scalable web apps.
            </p>
          </div>
        </div>
        <div class="ServicesItems">
          <div class="ServicesImage">
            <img src="./assets/FullStackLogo.png" alt="" />
            <h3 class="ServicesHeading">Full Stack Development</h3>
            <p>
              We deliver end-to-end web development, combining frontend and
              backend solutions and other technologies necessary to make your
              product a success.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Services End -->

    <!-- About section -->
    <div class="About" id="Sec2">
      <div class="MyPhoto Center">
        <img src="./assets/WhatsApp Image 2023-07-08 at 20.08.48.jpg" />
      </div>
      <div class="Center">
        <h2 class="AboutHeading">Hello.</h2>
      </div>
      <div classs="Center texts">
        <p class="AboutMyPara">
          My name is Sujit Kumar Dash, and I come from Tangi. Currently, I am a
          student pursuing Diploma in Computer Science Engineering (CSE) at
          DRIEMS Polytechnic. As a CSE student, I am fascinated by the world of
          technology. I enjoy exploring various programming languages and
          developing innovative solutions to realworld problems.Apart from my
          academic pursuits, I also engage in hobbies like Exploring new places
          and innovate something new. Overall, I am passionate about learning,
          growing, and making a positive impact in the field of computer
          science.
        </p>
      </div>
    </div>
    <!-- About section end -->

    <!-- Hiring page -->
    <div class="hiringPage">
      <div class="contractHeading"> <h2 >Looking to hire a Software Developer? Let’s Talk!</h2>
      
        <p class="hiringPara">
          Thanks for taking the time to contact me. Please send me some
          information about your project so I can determine how best to help you.
          Preferably include a timeline as well as your budget. After a few emails
          to confirm I’m a good fit, we’ll schedule a quick phone call to review
          your project and get to know each other.
        </p></div>
     
      <form action="/submit" method="post" class="contractForm">
        <div class="section">
          <input
            type="text"
            name="name"
            size="40"
            id="name"
            placeholder="Name"
          /></div>
          <div class="section">
          <input
            type="email"
            name="email"
            size="40"
            id="email"
            placeholder="Email"
          />
          </div>        
        <div class="section">
          <input
            type="text"
            name="subject"
            id="subject"
            placeholder="Subject"
          />
        </div>
        <div class="section">
          <textarea
            name="message"
            type="text"
            cols="30"
            rows="10"
  
            placeholder="message"
          >
          </textarea>
        </div>
        <div class="section">
          <button id="button">Submit</button>
        </div>
      </form>
    </div>

    <footer class="Footer" id="footer">
      <a href="https://www.instagram.com/_sujit_kumar_dash_/"
        ><img
          src="./assets/instagram-removebg-preview.png"
          height="50px"
          width="50px"
      /></a>
      <a href="https://www.linkedin.com/in/sujit-kumar-dash-7049b3256/"
        ><img src="./assets/LinkDinW-removebg-preview.png" height="43px"
      /></a>
      <a href="https://twitter.com/iamsujit44?t=Pt6MyMD9ZC3YUVhntadlPQ&s=09"
        ><img src="./assets/TwiterWhite-removebg-preview.png" height="50px"
      /></a>
      <a href="https://wa.me/+918328974844">
        <img
          src="./assets/WhatsAppWN-removebg-preview.png"
          height="50px"
          width="50px"
      /></a>
    </footer>
    <script src="./script.js"></script>
  </body>
</html>
